In [8]:
# pandas_200914_drinks

### 1. total_litres_of_pure_alcohol의 대륙별 평균을 구하기

### 2. total_litres_of_pure_alcohol의 평균값 보다 적은 알코올을 섭취하는 대륙중에서 spirit을 가장 많이 마시는 국가를 구하기

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

file_path = 'data/drinks.csv'
drinks = pd.read_csv(file_path)
drinks.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol,continent
0,Afghanistan,0,0,0,0.0,AS
1,Albania,89,132,54,4.9,EU
2,Algeria,25,0,14,0.7,AF
3,Andorra,245,138,312,12.4,EU
4,Angola,217,57,45,5.9,AF

In [19]:
# total_litres_of_pure_alcohol의 평균을 구하기

# total_litres_of_pure_alcohol의 평균
total_mean = drinks.total_litres_of_pure_alcohol.mean()

# total_litres_of_pure_alcohol의 대륙별 평균
continent_mean = drinks.groupby('continent')['total_litres_of_pure_alcohol'].mean()
# == drinks.groupby('continent').total_litres_of_pure_alcohol.mean()

continent_mean

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [20]:
# total_litres_of_pure_alcohol의 평균값 보다 적은 알코올을 섭취하는 대륙 찾기
mean_down = continent_mean[continent_mean <= total_mean]
d_list = mean_down.index.tolist()
d_list

['AF', 'AS', 'OC']

In [15]:
# 보고싶은 컬럼만 모으기
drinks_new = drinks[['country', 'continent', 'spirit_servings']]

# 그 중에서 spirit을 가장 많이 마시는 국가 구하기
d_drinks_new = drinks_new[drinks_new['continent'].isin(d_list)]
d_drinks_new[d_drinks_new['spirit_servings'] == d_drinks_new['spirit_servings'].max()]

                country continent  spirit_servings
141  Russian Federation        AS              326